<div class="flex h-full items-center justify-center flex-col">
  <div class="bg-gray-200 p-4 rounded-2xl">
    <small class="block">When</small>
    <p class="font-bold">
      {{ startDate | date : "MMM dd, yyyy" }} -
      {{ endDate | date : "MMM dd, yyyy" }}
    </p>
  </div>
  <div id="monthWidget" #slider class="my-12"></div>
  <div class="flex">
    <p>Starting {{ startDate | date : "MMM dd, yyyy" }}</p>
    <span class="mx-1 leading-4">.</span>
    <a
      role="button"
      class="font-bold underline select-none"
      (click)="openDatePicker()"
      >Edit</a
    >
  </div>
</div>
