@import "mixins.scss";
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

.rs-control .rs-bg-color {
  background-color: $theme-bg;
  box-shadow: $bg-box-shadow;
  cursor: auto;
}

#monthWidget {
  .rs-block {
    cursor: pointer;
  }
  .rs-range-color {
    background: $range-color;
  }
  .rs-path-color {
    background: $path-color;
  }
  .rs-handle {
    cursor: grab;
    background-color: $theme-bg;
    box-shadow: $handle-box-shadow;
  }
  .rs-border {
    border: none;
  }
}
